.delete {
    margin-right: 12px;
    display: inline-block;
    background: #af4e64;
    padding: 4px;
    text-align: center;
    border-radius: 0px;
    color: #ecd7d7;
    font-weight: bold;
    border: 1px solid black;

}
.update{
    display: inline-block;
    background: #36cc56;
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    color: #191717;
    font-weight: bold;
    border: 1px solid black;
    margin-left: 12px;

}
a{
    color: black;
}

input[type=text],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #afc7be;
  color: black;
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }
  a,td{
    font-family: 'Courier New', Courier, monospace;

  }

  .label, h2 {
    color:black;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
  }
  form { 
    width: 250px;
    background: #87879030;
    padding: 90px;
    }

